<html>
  <head>
    <title>The Gossip Project</title>
</head>
  <body>
        <p>
          <%= voici le numéro : <%= @id%><br/>
          <%= voici l'auteur : <%= Gossip.find(@id)[0]%><br/>
          <%= voici le contenu: <%= Gossip.find(@id)[1]%><br/>
        </p>
  </body>
</html>
